/* Description: Media CSS file */

/*****************************************
Table Of Contents:
- Media Queries
******************************************/

/*************************/
/*     Media Queries     */
/*************************/

/* Max-width 363px */
@media (max-width: 363px) {
	body {
		width: 370px !important;
	}
}
/* Max-width 375px */
@media (max-width: 375px) {
	.header {
		height: 120%;
	}
}

/* Min-width 376px */
@media (min-width: 376px) {
	.header {
		height: 100%;
	}
}

/* Max-width 425px */
@media (max-width: 425px) {
	.navbar .social-icons {
		padding-top: 2rem !important;
		margin-left: 0rem !important;
	}
	.navbar .social-icons a {
    margin-left: .8rem !important;
	}
}

/*Width 425px */
@media (width: 425px){
.navbar .social-icons {
    justify-content: center !important;
	}
}

/* Max-width 768px */
@media (max-width: 768px) {
	nav.navbar.navbar-expand-lg.fixed-top.navbar-dark {
		background-color: #24262a !important;
	}
	.basic-4 {
		display: none;
	}
	.offcanvas-collapse {
		background-color: var(--background-light) !important;
	}
	.navbar .nav-item .nav-link {
		color: var(--text-light) !important;
	}
	div#buttons{
		margin-left: 2rem;
	}

	.navbar .social-icons {
		display: flex;
		justify-content: flex-start;
	}
	.navbar .social-icons a {
		margin-left: 1rem;
	}
	.linked-in{
		margin-left: 2.5rem
	}
	.git-hub {
		background-color: var(--background-dark);
	}
	.text {
		color: var(--text-dark);
	}
	.svgIcon path {
		fill: var(--background-light);
	}
	.example-2{
		display: none;
	}
	.linked-in,.git-hub, .translate, .translate2, .insta-gram, .you-tube{
		display: flex;
		margin-bottom: .5rem;
	}
	
}

/*Width 768px */
@media (width: 768px){
	h1.display-3 {
		display: inline;
	}
	.navbar .social-icons {
		display: flex;
		justify-content: center;
		padding-top: 4rem;
	}
	.navbar .social-icons a {
		margin-left: 1rem;
	}
}

/* Min-width 768px */
@media (min-width: 768px) {
	/* Header */
	.header {
		padding-top: 11rem;
		padding-bottom: 9rem;
	}
	.header h1.display-3 {
		width: max-content;
	}
	div#buttons {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}
	
}

/* Min-width 992px */
@media (min-width: 992px) {

	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}
	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}

	/* Navigation */
	.navbar {
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}
	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-top: 0.5rem;
		background-color: #24262a;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}
	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar .nav-item .nav-link {
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}
	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}
	.navbar .dropdown-divider {
		width: 90%;
	}
	
	#menu-lateral{
		display: none;
	}

	/* Header */
	.header {
		padding-top: 15rem;
		padding-bottom: 14rem;
		text-align: left;
	}

	#typing-text {
		width: max-content;
	}

	/* Projects */
	.basic-5 {
		display: none;
	}

	/* Details */
	.split {
		height: 760px;
	}
	.split .area-1 {
		height: 100%;
		width: 50%;
		display: inline-block;
	}
	.split .area-2 {
		margin-top: 3.5rem;
		height: 100%;
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}
	.split .text-container {
		width: 400px;
		margin-left: 3rem;
	}
}

/* Max-width 1024px */
@media (max-width: 1024px) {
	.example-2 .icon-content a{
		width: 2.55rem;
		height: 2.55rem;
	}
	.example-2 .icon-content .tooltip{
		padding:.25rem .5rem;
		transform: translateY(220%);

	}
	
}

/* Min-width 1200px */
@media (min-width: 1200px) {
	/* General Styles */
	.h1-large {
		font-size: 3.75rem;
		line-height: 4.625rem;
	}

	/* Navigation */
	.navbar .container {
		max-width: 1330px;
	}

	/* Header */
	.header {
		padding-top: 18.25rem;
		padding-bottom: 17.25rem;
		height: inherit;
	}

	/* About */
	.basic-1 .text-container.first {
		margin-right: 2rem;
	}
	.basic-1 .text-container.second {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	.basic-1 .text-container.third {
		margin-left: 2rem;
	}

	/* Details */
	.split {
		height: 700px;
	}
	.split .text-container {
		width: 460px;
		margin-left: 25rem;
	}}

/* Min-width 1800px */
@media (min-width: 1800px) {

}