/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- Loading
- Navigation
- Header
- Home Social
- About
- Services
- Details
- Projects
- Works
- Footer 
- Copyright
- Back To Top Button

/**********************/
/*     Loading     */
/**********************/
.loader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 9999;

}

.loader {
	background-color: white;
	width: 100px;
	height: 100px;
	animation: spinning82341 1.7s linear infinite, hue 1s ease-in-out infinite;
	text-align: center;
	border-radius: 50px;
	filter: blur(10px);
	box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);

}

@keyframes spinning82341 {
	to {
		transform: rotate(360deg);
	}
}

@keyframes hue {
	0% {
		filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}

/* Definindo a animação da onda */
@keyframes pulse-animation {
	0% {
		transform: scale(0.8);
		/* Diminui o tamanho */
		opacity: 0.5;
	}

	50% {
		transform: scale(1.2);
		/* Aumenta o tamanho */
		opacity: 1;
	}

	100% {
		transform: scale(0.8);
		/* Retorna ao tamanho inicial */
		opacity: 0.5;
	}
}

/* Oculta a tela de carregamento quando a página estiver pronta */
body.loaded .loader-overlay {
	display: none;
}

/* Exibe o conteúdo da página quando estiver pronta */
body.loaded .content {
	display: block;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
}

.navbar .navbar-brand {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}

.navbar .logo-image img {
	width: 118px;
	height: 36px;
}

.navbar .logo-text {
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem;
	/* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	text-decoration: none;
	transition: all 0.2s ease;
}


.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/* Social Icons */
.linked-in,
.git-hub {
	border: none;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: .4s;
	cursor: pointer;
	position: relative;
	padding: 1rem;
}

.linked-in {
	background: #0274b3;
}

.git-hub {
	background-color: var(--background-light);
}

.svgIcon {
	transition-duration: .3s;
}

.svgIcon path {
	fill: var(--background-dark);
}

.text {
	position: absolute;
	color: rgb(255, 255, 255);
	width: 120px;
	font-weight: 600;
	opacity: 0;
	transition-duration: .4s;
}

.linked-in:hover,
.git-hub:hover {
	width: 110px;
	transition-duration: .4s;
	border-radius: 30px;
}

.linked-in:hover .text,
.git-hub:hover .text {
	opacity: 1;
	transition-duration: .4s;
}

.linked-in:hover .svgIcon,
.git-hub:hover .svgIcon {
	opacity: 0;
	transition-duration: .3s;
}


/******************/
/*     Header     */
/******************/
.header {
	padding-top: 7rem;
	padding-bottom: 5.5rem;
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/images/header-background.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.header h1 {
	color: white;
}

.header .h1-large {
	margin-bottom: 1.75rem;
	color: #ffffff;
}

.typing-container {
	position: relative;
}

#typing-text {
	font-size: 24px;
	font-family: Arial, sans-serif;
	padding: 10px;
	/* Efeito da digitação */
	display: inline-block;
	color: white
}

div#buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Botões*/
div#download {
	padding-bottom: 1rem;
}

#curriculum svg {
	margin-right: .5rem;
}

.header a,
.header button,
#download-button,
#repositories {
	position: relative;
	padding: 10px 20px;
	border-radius: 7px;
	border: 1px solid rgb(61, 106, 255);
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	background: var(--background-light);
	color: var(--text-light);
	overflow: hidden;
	box-shadow: 0 0 0 0 transparent;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	align-items: center;
	border-radius: 20px;
	box-shadow: rgba(51, 65, 252, 0.2) 0 15px 30px -5px;
	display: flex;
}

.header a:hover,
.header button:hover,
#download-button:hover,
#repositories:hover {
	background: rgb(61, 106, 255);
	box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	color: white;
	animation-play-state: running;
}

.header a:hover::before,
.header button:hover::before,
#download-button:hover::before,
#repositories:hover::before {
	-webkit-animation: sh02 0.5s 0s linear;
	-moz-animation: sh02 0.5s 0s linear;
	animation: sh02 0.5s 0s linear;
}

.header a::before,
.header button::before,
#download-button::before,
#repositories::before {
	content: '';
	display: block;
	width: 0px;
	height: 86%;
	position: absolute;
	top: 7%;
	left: 0%;
	opacity: 0;
	background: #fff;
	box-shadow: 0 0 50px 30px #fff;
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	-o-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

@keyframes sh02 {
	from {
		opacity: 0;
		left: 0%;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
		left: 100%;
	}
}

.header a:active,
.header button:active,
#download-button:active,
#repositories:active {
	box-shadow: 0 0 0 0 transparent;
	-webkit-transition: box-shadow 0.2s ease-in;
	-moz-transition: box-shadow 0.2s ease-in;
	transition: box-shadow 0.2s ease-in;
}


.cursor {
	bottom: 6px;
	font-size: 24px;
	/* Ajuste para a posição do cursor */
	left: 0;
	color: white;
	animation: blink 0.7s infinite;
	/* Animação do cursor piscando */
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.dropdown-menu.show {
	display: block;
	background-color: transparent;
	border: none;
}

/* Mais Projetos */
#repositories {
	gap: .75rem;
	background-color: var(--background-dark);
	color: var(--text-dark);
	border-radius: 10rem;
	text-decoration: none;
}

p#mais-projetos {
    display: contents;
	color: var(--text-dark)
}

.button__icon-wrapper {
	flex-shrink: 0;
	width: 25px;
	height: 25px;
	position: relative;
	color: var(--text-light);
	background-color: var(--background-light);
	border-radius: 50%;
	display: grid;
	place-items: center;
	overflow: hidden;

}

.button__icon-svg--copy {
	position: absolute;
	transform: translate(-150%, 150%);
}


.button__icon-svg {
	fill: var(--background-dark);
}

#repositories:hover .button__icon-svg:first-child {
	transition: transform .3s ease-in-out;
	transform: translate(150%, -150%);
}

#repositories:hover .button__icon-svg--copy {
	transition: transform .3s ease-in-out .1s;
	transform: translate(0);
}

/*****************/
/*  Home-Social  */
/*****************/
.home-social {
	font-family: "montserrat-regular", sans-serif;
	list-style: none;
	margin: 0;
	position: fixed;
	/* Alterado para fixed */
	top: 50%;
	right: 1rem;
	-webkit-transform: translate3d(0, -50%, 0);
	-ms-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	z-index: 1;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-social a {
	color: white;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.home-social li {
	position: relative;
	padding: .9rem 0;
}

.home-social li a {
	display: block;
	width: 33px;
	height: 33px;
}

.home-social i,
.home-social span {
	position: absolute;
	top: 0;
	line-height: 33px;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.home-social i {
	font-size: 14px;
	right: 0;
	text-align: center;
	display: inline-block;
	width: 33px;
	height: 33px;
	line-height: calc(33px - 4px);
	border: 2px solid #0b36a8;
	border-radius: 50%;
	background-color: #0b36a8;
}

.home-social span {
	color: #0b36a8;
	right: 4.5rem;
	font-size: 1.3rem;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.home-social li:hover span {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}


.carousel-control-next,
.carousel-control-prev {
	z-index: 0;
}


/*****************/
/*     About     */
/*****************/
.basic-1 {
	padding-top: 6.75rem;
	padding-bottom: 8.50rem;
}

.basic-1 .text-container {
	margin-bottom: 3rem;
}

.basic-1 .time {
	margin-bottom: 0.5rem;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.5rem;
	font-family: "Poppins";
}

.basic-1 h6 {
	margin-bottom: 0.125rem;
}

/*******************/
/*     Details     */
/*******************/
.split .area-1 {
	height: 430px;
	background: linear-gradient(to bottom right, rgba(25, 26, 29, 0.5), rgba(25, 26, 29, 0.5)), url('../images/details-background.jpg') center center no-repeat;
	background-size: cover;
}

.split .area-2 {
	padding-top: 3.75rem;
	padding-bottom: 5.25rem;
}

.split p {
	margin-bottom: 2.25rem;
}

.split .icons-container {
	margin-top: 1.5rem;
	margin-bottom: 2rem;
}

.split .icons-container img {
	width: 50px;
	margin-right: 0.625rem;
	margin-bottom: 0.75rem;
}

/********************/
/*     Projects     */
/********************/
.basic-3 {
	padding-top: 3.75rem;
	padding-bottom: 1rem;
}

.basic-3 .h2-heading {
	margin-bottom: 0.75rem;
	text-align: center;
}

.basic-3 .p-heading {
	margin-bottom: 2rem;
	text-align: center;
}


.basic-3 .text-container {
	margin-bottom: 4rem;
}

.basic-3 .text-container p {
	width: 90%;
}

.basic-3 .image-container {
	margin-bottom: 1rem;
}

/* Hover Animation */
.basic-3 .image-container {
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.basic-3 .image-container img {
	margin: 0;
	transition: all 0.2s;
}

.basic-3 .image-container:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*****************/
/*     Works     */
/*****************/
.basic-4 {
	padding-bottom: 1rem;
}

#others-projects {
	margin-bottom: 0rem;
}

.basic-4 .text-container {
	margin-bottom: 4rem;
}

.basic-4 .image-container {
	margin-bottom: 1rem;
}

.row.works {
	display: flex;
	justify-content: center;

}

#maisProjetos {
	display: flex;
	justify-content: center;
	padding-left: 3.5rem;
	padding-bottom: .5rem;
}

/* Hover Animation */
.basic-4 .image-container {
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.basic-4 .image-container img {
	margin: 0;
	transition: all 0.2s;
}

.basic-4 .image-container:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 6.25rem;
	padding-bottom: 2rem;
	text-align: center;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	align-items: center;
}

.up,
.down {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

.card1 {
	width: 90px;
	height: 90px;
	outline: none;
	border: none;
	background: var(--background-light);
	border-radius: 90px 5px 5px 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	transition: 0.2s ease-in-out;
}

.instagram {
	margin-top: 1.5em;
	margin-left: 1.2em;
	fill: #cc39a4;
}

.card2 {
	width: 90px;
	height: 90px;
	outline: none;
	border: none;
	background: var(--background-light);
	border-radius: 5px 90px 5px 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	transition: 0.2s ease-in-out;
}

.linkedin {
	margin-top: 1.5em;
	margin-left: -0.9em;
	fill: #0077b5;
}

.card3 {
	width: 90px;
	height: 90px;
	outline: none;
	border: none;
	background: var(--background-light);
	border-radius: 5px 5px 5px 90px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	transition: 0.2s ease-in-out;
}

.github {
	margin-top: -0.6em;
	margin-left: 1.2em;
	fill: var(--background-dark)
}

.card4 {
	width: 90px;
	height: 90px;
	outline: none;
	border: none;
	background: var(--background-light);
	border-radius: 5px 5px 90px 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	transition: 0.2s ease-in-out;
}

.youtube {
	margin-top: -0.9em;
	margin-left: -1.2em;
	fill: #ff0000;
}

.card1:hover {
	cursor: pointer;
	background: linear-gradient(45deg, #405DE6, #5B51DB, #B33AB4, #C135B4, #E1306C, #FD1F1F);
}

.card2:hover {
	cursor: pointer;
	background-color: #0077b5;
}

.card3:hover {
	cursor: pointer;
	background: rgb(111, 191, 103);
	background: linear-gradient(90deg, rgba(111, 191, 103, 1) 10%, rgba(171, 199, 52, 1) 37%, rgba(231, 210, 13, 1) 64%, rgba(255, 214, 0, 1) 90%);
}

.card3:hover .github {
	fill: var(--background-light);
}

.card4:hover .youtube,
.card2:hover .linkedin,
.card1:hover .instagram {
	fill: white;
}

.card4:hover {
	cursor: pointer;
	background-color: #ff0000;
}

/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

.copyright .p-small {
	text-align: center;
}


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: #0b36a8 url("../assets/images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #0b36a8;
}