/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.grid-container {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
        'menu'
        'header'
        'main'
        'main'
        'main'
        'footer';
    min-height: 100vh;
}

/* Barras laterais */

.sidebar {
    grid-area: menu;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.sidebar nav ul {

    margin-left: 6rem;
    align-items: center;
    justify-content: center;
}

.sidebar nav ul li {
    position: relative;
    display: grid;
    padding-right: 70px;
    margin-left: 1rem;
}

.sidebar nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar.scroll {
    transform: translateY(-50rem);
}

.sidebar.scroll {
    grid-area: menu;
    margin-top: 50rem;
    width: 150px;
    height: 1500px;
    padding: 20px;
    overflow-y: auto;
}

.sidebar.scroll nav ul {
    list-style: none;
    margin-left: 0rem;
}

.sidebar.scroll nav ul {
    list-style: none;
    padding: 0rem;
    margin-top: 10rem;
    position: fixed;
}

.sidebar.scroll nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    grid-area: header;
    margin-top: 7rem;
    padding: 70px;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 3000px;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}



.header.scroll {
    grid-area: header;
    padding: 20px;
    margin-top: 0rem;
    text-align: center;
    width: 345px;
    height: 3000px;
    overflow-y: auto;

}

.header.scroll .header-info,
.header.scroll .btn-group,
.header.scroll a,
.header.scroll img,
.header.scroll .btncont {
    margin-top: 2rem;
    position: fixed;
}

.header a {
    padding: 6px 12px;
    margin-top: 13.02rem;
    margin-left: 5px;
    text-decoration: none;
    border-radius: 5px;
    padding-bottom: .60rem;
}

.header.scroll a {
    padding: 6px 12px;
    margin-top: 13.02rem;
    margin-left: 0rem;
    text-decoration: none;
    border-radius: 5px;
    padding-bottom: .45rem;
}

.header.scroll .btn {
    margin-top: 11rem;
    margin-left: -7rem;
}

.header.scroll .btncont {
    display: grid;
    width: 4rem;
    height: 4rem;
    margin-top: 23rem;
    margin-left: 7.5rem;
}

.header .btncont {
    width: 4rem;
    height: 4rem;
    margin-top: 5rem;
    border: none;
}



button#btn {
    display: inline-flex;
    align-items: center;
}

button#portuguese,
button#english {
    color: var(--text-light);
}

/*.header img {
    margin-top: 20rem;
    margin-left: -6.5rem;
}
*/

/* main-content */

section {
    display: grid;
    justify-items: center;
}

.main-content {
    grid-area: main;
    padding-top: 60px;
    padding-left: 90px;
    padding-right: 180px;
}

.main-content p {
    margin-bottom: .1rem;
}

.main-content #projectsParagraph,
#about {
    margin-bottom: 2rem;
}

.main-content h2,
.skills,
#links,
#maisProjetos2 {
    text-align: center;
}

/* Links */
i.fa-solid {
    font-size: 3em;
    margin-bottom: 10px;
}

/* Skills */

.skills {
    margin-bottom: 2rem;
}

.skills ul {
    list-style: none;
}

.skills ul li {
    margin: 5px 0;
}

/* Project and Link Buttons */
.project-buttons a {
    display: inline-grid;
    padding: 6px 12px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.link-buttons a {
    display: inline-grid;
    padding: 12px 12px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.project-buttons a {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#flutter-a {
    display: flex;
    justify-content: center;
}

.maisProjetos {
    margin-top: 2rem;
    display: grid;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    align-content: center;
}

#footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
}

footer {
    margin-left: -4.5rem;
    margin-right: -1.3rem;
}


/* Temas Claro e Escuro */

:root {
    --background-light: #CECECE;
    --text-light: black;
    --background-dark: black;
    /*--background-gradient-claro: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(66,70,72,1) 30%, rgba(233,238,240,1) 50%, rgba(66,70,72,1) 70%, rgba(0,0,0,1) 90%);
    --background-gradient-escuro: linear-gradient(90deg, #CECECE 10%, rgba(66,70,72,1) 30%, rgba(0,0,0,1) 50%, rgba(66,70,72,1) 70%, #CECECE 90%);*/
    --text-dark: #CECECE;
    --backgroundButton-light-hover: green;
    --backgroundButton-dark-hover: gold;
    --colorButton-light-hover: black;
    --colorButton-dark-hover: #CECECE;
}



.sidebar nav ul li a {
    background-color: transparent;
    color: white;
}


.sidebar.scroll,
.sidebar.scroll nav ul li a,
.header.scroll,
.main-content.scroll .project-buttons a,
.main-content.scroll .link-buttons a,
.main-content.scroll .maisProjetos,
#footer {
    background: var(--background-dark);
    color: var(--text-dark);
}

.header,
.sidebar {
    background: var(--background-dark);
    color: var(--text-dark);
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
}

.sidebar.scroll nav ul li a {
    background-color: transparent;
}

.header button,
.header a,
.header .btncont {
    background: var(--background-dark);
    color: var(--text-dark);
    background-color: transparent;
}

.body,
.header a,
.header .btn,
.project-buttons .card {
    background: var(--background-light);
    color: var(--text-light);
}

.project-buttons .card-body {
    transition: .2s ease-in-out, background-color 1.5s ease-in-out, color 1.5s ease-in-out;
}

.dropdown-menu.show {
    background: var(--background-light);
}

.main-content.scroll,
.main-content.scroll a {
    background: var(--background-light);
    transition: .2s ease-in-out, background-color 1.5s ease-in-out, color 1.5s ease-in-out;
}

.main-content,
.main-content a {
    background-color: var(--background-dark);
    color: var(--text-light)
}

.header.scroll .btncont {
    background-color: transparent;
    color: var(--text-dark);
    border: hidden;
}

.fa-sharp {
    color: #0541a8;
}

.fa-sharp:hover {
    color: var(--backgroundButton-dark-hover);
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
}

.header.scroll a:hover,
header.scroll .btn:hover {
    background: var(--backgroundButton-dark-hover);
    color: var(--colorButton-light-hover);
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;

}

.header a:hover,
header .btn:hover {
    background: gold;
    color: black;
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;

}

.header .btncont:hover {
    color: var(--backgroundButton-dark-hover);
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
}

.main-content.scroll .project-buttons a:hover,
.main-content.scroll .link-buttons a:hover,
.main-content.scroll .maisProjetos:hover {
    background: var(--backgroundButton-light-hover);
    transition: .2s ease-in-out, background-color .7s ease-in-out, color .7s ease-in-out;
}

/* Responsividade - Mobile */

@media (min-width: 280px) and (max-width:912px) {
    .sidebar nav ul {
        margin-left: 5rem;
    }
}

@media (max-width: 1023px) {
    .main-content {
        grid-area: main;
        padding-top: 60px;
        padding-left: 18px;
        padding-right: 17px;
    }

    .sidebar nav ul {
        margin-left: -2rem;
    }

    .sidebar nav ul li {
        padding-right: 0px;
    }

    .sidebar.scroll {
        margin-top: 0rem;
        width: 0px;
        height: 00px;
        padding: 0px;
    }

    .header.scroll {
        transform: translateX(75rem);
    }

    .card-body {
        display: grid;
        justify-items: center;
    }

    @media (max-width: 767px) {

        #react-image,
        #flutter-image {
            width: 33.5vh;
        }
    }



    @media (min-width: 768px) and (max-width: 912px) {

        .header a,
        .header button,
        p {
            font-size: 22px;
        }
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            'menu  main   header '
            'menu footer   header ';
    }

    #flutter-a {
        display: flex;
        justify-content: flex-start;
    }
}


@media (min-width: 1024px) and (max-width: 2559px) {

    .sidebar.scroll {
        width: 120px;
        height: 1525px;
    }

    .sidebar.scroll nav ul {
        list-style: none;
        margin-left: -1rem;
        margin-top: 10rem;

    }

    .header.scroll {
        height: 1525px;
        transform: translateX(67.5rem);
    }

    @media (min-width: 1024px) and (max-width: 1280px) {
        .header.scroll {
            transform: translateX(42.2rem);
        }

        .sidebar.scroll nav ul {
            margin-top: 5rem;
        }
    }

    .main-content {
        padding-left: 65px;
    }

}

@media (min-width: 2560px) {
    * {
        font-size: 2vh;
    }

    .sidebar.scroll {
        width: 200px;
    }

    .header {
        margin-top: 14rem;
    }

    .header.scroll {
        transform: translateX(65.2rem);
        width: 650px;
    }

    .main-content {
        padding-right: 335px;
        padding-left: 110px;
    }
}